
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}


body {
  background-color: #EAEAEA;
  font-family: Montserrat;
  height: 100%;
}

.root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 20px 0 20px;
}

.header {
  max-width: 1110px;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    font-weight: 700;
    font-size: 25px;
    cursor: pointer;

    &:hover{
      color: #FFA542;
    }
  }

  &__icons {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
    div{
      margin-left: 15px;
    }

    &__heartLogo{
      position: relative;

    }


    &__heartLogo, &__cartLogo{
      position: relative;
      cursor: pointer;

      &:hover {
        opacity: 0.73;
      }

      &__totalCount{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -6px;
        left: 1px;
        width: 18px;
        height: 18px;
        background-color: #FFA542;
        color: #ffffff;
        font-size: 15px;
        border-radius: 50%;
      }
    }

  }

}

.home {
  min-height: calc(100vh - 196px); // чтобы футер был прижат к низу
  margin: 0 20px 0 20px;
  &__headphones {
    color: #838383;
    margin: 28px 0 20px 0;
  }

  &__productList {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 0;
    margin: 0;

    @media (max-width: 1149px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 765px) {
      grid-template-columns: 1fr ;
    }
  }

}

.cart {
  min-height: calc(100vh - 229px);
  display: grid;
  max-width: 1110px;
  width: 100%;
  grid-template-columns: minmax(350px, 633px)minmax(100px, auto);

  @media (max-width: 1060px){
    grid-template-columns: minmax(350px, 633px);
    max-width: 633px;

  }

  &__emptyCart {
    margin-top: 20px;
    color: #777777;
  }

  &__items {
    padding: 0;
    max-width: 633px;
    width: 100%;

    li {
      list-style: none;
    }
  }

  &__purchaseBlock {
    justify-self: end;

    display: flex;
    width: 350px;

    height: 120px;
    background-color: white;
    border-radius: 30px;
    flex-direction: column;
    justify-content: space-between;

    font-weight: 600;
    font-size: 15px;
    @media (max-width: 1060px){
      justify-self: center;
    }

    button {
      font-size: 17px;
      background-color: black;
      color: white;
      border-radius: 20px;
      max-width: 350px;
      height: 65px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
    &__cost {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      margin: 21px;
    }
  }
}

.cartItem {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  height: 218px;
  background: white;

  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;

  &__image {
    position: absolute;
    left: 18px;
    top: 18px;
    width: 146px;
    height: 136px;

  }

  &__info {
    position: absolute;
    left: 189px;
    top: 76px;
    h2 {
      margin: 0 0 12px 0;
      font-size: 17px;
      color: #333;
    }

    &__price {
      color: #666;
      font-size: 15px;
    }
  }

  &__actions {
    position: absolute;
    left: 33px;
    top: 173px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 118px;
    height: 30px;

    img {
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }

    &__quantity {
      font-size: 16px;
    }

  }

  &__deleteIcon {
    margin: 18px 28px 0 0;
    align-self: flex-end;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }

  &__totalPrice {
    position: absolute;
    bottom: 21px;
    margin-right: 28px;
    font-size: 15px;
    font-weight: 600;
    align-self: flex-end;

  }
}

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1110px;
  width: 100%;
  background-color: white;
  height: 149px;
  border-radius:  30px 30px 0 0;
  margin-top: 20px;

  @media (max-width: 655px) {
    grid-template-columns: repeat(2, 1fr);

    grid-template-rows: auto auto;
    height: 300px;
    padding: 15px;
  }

  &__logo {
    margin: 29px 0 0 29px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    @media (max-width: 655px) {
      justify-self: center;
      margin-left: 0;
    }

    width: 85px;
    height: 30px;
    &:hover{
      color: #FFA542;
    }
  }

  &__optionsList {
     margin-top: 29px;
     padding: 0;
     line-height: 30px;
     justify-self: center;
    width: 121px;


    @media (max-width: 655px) {
      justify-self: center;
    }

     &__buy {

     }
     li {

       list-style: none;
       cursor: pointer;
       &:hover {
         text-decoration: underline;
       }
     }
  }

  &__serviceAndLang{
    margin: 29px 0 29px 0;
    justify-self: center;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 8px;

    &__service {
      margin: 0;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }

    &__lang {
      justify-self: flex-end;
      width: 111px;
      display: flex;
      justify-content: space-between;
      font-weight: 500;

      &__rus {

        color: #FFA542;
      }

      &__rus, &__eng {

        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }

    }
  }
  &__social {
    margin: 29px 29px 0 0;
    display: flex;
    justify-content: space-between;
    justify-self: end;
    @media (max-width: 655px) {
      &:first-child {
        margin-left: 0;
      }
      justify-self: center;
    }

    a{
      height: 30px;
      display: flex;
      align-items: center;
    }
    img {
      //width: 30px;
      //height: 30px;
      margin-left: 18px;
      cursor: pointer;
      &:hover {
        opacity: 0.73;
      }
    }
  }
}

.product {
  width: 350px;
  height: 407px;
  border-radius: 30px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__pic {
    width: 220px;
    height: 237px;
    margin: 15px 65px 54px 65px;
  }
  &__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fd 1 fr;
    width: 310px;
    height: 74px;

    margin: 0 20px 27px 20px;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;

    &__title {
      font-weight: 600;
      font-size: 17px;
    }


    &__rate {
      color: #838383;
      display: flex;
      align-items: center;

      svg{
        margin-right: 10px;
      }
    }

    &__price {
      color: #FFA542;
      text-align: right;
    }

    &__priceWthDiscount {
      text-decoration: line-through;
      text-align: right;
      font-size: 13px;
      margin-right: 10px;

      color: #FFCE7F;
    }

    &__buy {
      display: flex;
      justify-content: end;
      text-align: right;
      align-content: end;



      &__text{
        width: 65px;
        justify-self: flex-end;
        cursor: pointer;
        &:hover{
          color: #FFA542;
        }
      }
    }
  }
}

